name: Docker

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [1.40.0, beta-2020-01-20, nightly-2020-01-20]

    steps:
    - uses: actions/checkout@v1

    - name: Login to docker
      run: echo ${{ secrets.GITHUB_TOKEN }} | docker login --password-stdin

    - name: Pull potential previous image
      run: docker pull docker.pkg.github.com/bryanburgers/actions/rust-build:${{ matrix.toolchain }} | true

    - name: Build image
      run: docker build --build-arg toolchain=${{ matrix.toolchain }} -t docker.pkg.github.com/bryanburgers/actions/rust-build:${{ matrix.toolchain }} .

    - name: Push image
      run: docker push docker.pkg.github.com/bryanburgers/actions/rust-build:${{ matrix.toolchain }}
